*{
  box-sizing: border-box;
}

body{
  background: url(../img/lines.svg) center;
}

#fp-nav span{
  background: #333030 !important;
}

#fp-nav ul li .fp-tooltip{
  color: #333030 !important;
}

#section1 .fp-tableCell{
  vertical-align: top;
  text-align: center;
}

.fp-controlArrow.fp-prev, .fp-controlArrow.fp-next{
  display: none !important;
}

@media (max-width:440px) {
  #fp-nav.right{
    right: 5px !important;
  }
}

/**************SECTION FIRST*****************/

#section0{
  text-align: center;
  background: url(../img/bg.svg) center fixed no-repeat;
  background-size: 800px;
  background-color: tranparent;
}

@media(max-width: 720px){
  #section0{
    background-size: 500px;
  }
}

/***********TECHVEDA TITIEL STYLING***********************/

.title-wrap{
    margin: auto;
    width: 100%;
    perspective: 1000px;
}

.title-wrap h1 {
  font-family: 'Black Ops One';
  font-size: 82px;
  font-weight: lighter;
  line-height: 82px;
  margin: 28px 0;
  color: rgb(97, 143, 183);
  perspective: 1000px;
}

@media(max-width: 720px) {
  .title-wrap h1 {
    font-size: 56px;
    line-height: 56px;
  }
}

@media(max-width: 520px) {
  .title-wrap h1{
    font-size: 36px;
    line-height: 38px;
  }
}

@media(max-width: 360px) {
  .title-wrap h1{
    font-size: 34px;
    line-height: 34px;
    margin: 18px 0;
  }
}

b {
  display: inline-block;
  text-decoration: overline;
  box-shadow: 0 14px 13px -9px rgba(0,0,0,0.4);
  background: rgba(255,255,255,0.9);
  animation: tada 2s infinite;
}

b:nth-child(1){
  animation-delay: 100ms;
}

b:nth-child(2) {
  animation-delay: 500ms;
}

b:nth-child(3) {
  animation-delay: 300ms;
}

b:nth-child(4){
  animation-delay: 800ms;
}

b:nth-child(5){
  animation-delay: 0ms;
}

b:nth-child(6){
  animation-delay: 200ms;
}

b:nth-child(7){
  animation-delay: 400ms;
}

b:nth-child(8){
  animation-delay: 600ms;
}

b:nth-child(9){
  animation-delay: 150ms;
}

b:nth-child(10){
  animation-delay: 700ms;
}

b:nth-child(11){
  animation-delay: 240ms;
}

.title-wrap h4 {
      display: inline-block;
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0;
      padding: 8px 18px;
      border-radius: 4px;
      font-weight: bolder;
      letter-spacing: 2px;
      font-size: 20px;
      background-color: rgba(218, 230, 206, 0.8);
      color: #333030;
    }

@media(max-width: 520px){
  .title-wrap h4{
    font-size: 14px
  }
}

@media(max-width: 360px) {
  .title-wrap h4{
    font-size: 12px;
  }
}

/**********DOWN ARROW CODE********/

.arrow-wrap{
  position: absolute;
  bottom: 20px;
  left: 0;
  width: auto;
  right: 0;
  margin: 0 auto;
  text-decoration: none;
  color: #333030;
  text-align: center;
  z-index: 6;
}

.arrow-content {
    width: 72px;
    height: 54px;
    border: 4px solid #333030;
    margin: 0 auto;
    box-sizing: content-box;
  }

.arrow-wrap:hover .toast{
  opacity: 1;
}

.arrow-wrap i{
  position: relative;
  font-size: 54px;
}

@media(max-width: 360px){
  .arrow-content{
    width: 52px;
    height: 34px;
  }
  .arrow-wrap i{
    font-size: 34px;
  }
}

.arrow-wrap .toast{
  font-size: 18px;
  line-height: 2rem;
  font-weight: lighter;
  font-family: 'concert One';
  pointer-events: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

/*************SECOND SECTION****************/

#section1{
  background-color: transparent;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

#section1 h1{
  font-size: 52px;
  font-weight: bold;
  line-height: 52px;
  margin: 28px 0;
  color: #333030;
  letter-spacing: 5px;
}

@media (max-width:590px) {
  #section1 h1{
    font-size: 38px;
    line-height: 38px;
    margin: 22px 0;
  }
}

@media (max-width:440px) {
  #section1 h1{
    font-size: 28px;
    line-height: 28px;
    margin: 20px 0;
  }
}

hr{
  width: 52px;
  height: 2px;
  background-color: #333030;
  border-radius: 10px;
}

.category-wrapper{
  margin: 72px 0 10px 0;
}
.category-wrapper a{
  position: relative;
  display: inline-block;
  width: 250px;
  padding: 10px 0px;
  border: 3px dashed #333030;
  border-radius: 8px;
  color: #333030;
  margin: 20px;
  text-decoration: none;
}

.category-wrapper a.on::before {
  content: '';
  position: absolute;
  bottom: -30px;
  margin-left: -15px;
  width: 0;
  border-width: 15px;
  border-color: #333030 transparent transparent transparent;
  border-style: solid;
}

.category-wrapper a.on{
  border-style: solid;
}

.category-logo {
  width: 100%;
  height: 72px;
}

.category-logo i{
  font-size: 72px;
}

.category-wrapper h4 {
  margin: 10px 0;
}

.slide-wrapper{
}

.page.showing{
  display: flex;
}

.page{
  display: none;
}

.technical{
  flex-direction: column;
}

.row{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px 24px;
  margin: 0;
}

.event{
  width: 300px;
  background: #333030;
  text-align: left;
  padding: 15px;
  border-radius: 4px;
  letter-spacing: 1px;
  color: #fff;
}

.event h3,.event p{
  margin: 10px 0;
}

.event ul{
  padding: 0 20px;
  line-height: 26px;
}

@media (max-width: 960px) {
  .event{
    width: 250px;
  }

  .event h3{
    font-size: 16px;
  }
  .event p{
    font-size: 12px;
  }
  .event ul{
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .row{
    flex-direction: column;
  }
  .event{
    width: 100%;
    margin: 10px 0;
  }
}

@media (max-width:590px) {
  .category-wrapper a{
    width: 180px;
    margin: 10px;
  }

  .category-logo {
    height: 48px;
  }

  .category-logo i{
    font-size: 48px;
  }

  .category-wrapper h4 {
    font-size: 16px;
  }
}

@media (max-width:440px) {
  .category-wrapper a{
    width: 120px;
    margin: 10px;
  }

  .category-logo {
    height: 38px;
  }

  .category-logo i{
    font-size: 38px;
  }

  .category-wrapper h4 {
    font-size: 12px;
  }
}

/***********ANIMATION USED*************/

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    transform: scale3d(.9, 1.1, .8) rotate3d(0, 0, 1, -3deg);
  }

  30%, 50%, 70%, 90% {
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 3deg);
  }

  40%, 60%, 80% {
    transform: scale3d(.9, 1.1, .8) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
